@import url('https://fonts.googleapis.com/css?family=Abel|Dosis|Fjalla+One|Montserrat|Noto+Sans+JP|PT+Sans+Caption|PT+Sans+Narrow|Playfair+Display|Reem+Kufi|Ropa+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    background-color:#563d7c;
    color: #eaeaea;
    font-size: 17px;
    font-family: 'Dosis', sans-serif;
    line-height: 1.5;
}

.content {
    text-align: center;
    text-decoration: none;
}

.content a {
    color: #17a2b8;
}

.content a:hover {
    color: #eee5e9;
}
 .content a:visited {
     color: #171a21;
 }

#self-closing img {
    width: 70px;
    height: 70px;
}

#links img {
    width: 70px;
    height: 70px;
}